<blockquote class="layui-elem-quote">文章管理</blockquote>
<div style="padding:10px;">
   <div>
        <a class="layui-btn" href="~/Admin/Blog/Add">
            <i class="layui-icon">&#xe61f;</i> 添加
        </a>
    </div>

    <table class="layui-table">
        <thead>
            <tr>
                <th>发布时间</th>
                <th>boke标题</th>
                <th>所属分类</th>
                <th>访问量</th>
                <th>管理</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2018-1-12 12:15</td>
                <td>Hello World</td>
                <td>随笔</td>
                <td>512</td>
                <td>
                    <a style="margin-right:20px" href="~/Admin/Blog/Add/1">
                        <i class="layui-icon">&#xe642;</i>
                        编辑
                    </a>
                    <a href="/Admin/Blog/Del">
                        <i class="layui-icon">&#xe640;</i>
                        删除
                    </a>
                </td>
            </tr>
        </tbody>

    </table>
</div>